.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
content/attachments/
content/ao-bento/
content/wiki/
content/air/
content/categories/
content/templates/
.replit
replit.nix
/.claude
